.App{
    /* background-color: rgb(141, 194, 228); */
    margin: 70px;
    padding: 4px;
}
.age_cal{
    margin-top: 50px;
}
input[type="submit"]{
    padding: 10px 28px;
    background-color:black;
    color: white;
    text-align: center;
    width: 14%;
    font-size: 18px;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 4px 7px  rgba(99, 98, 98, 0.3), 0 6px 20px  rgba(93, 92, 92, 0.19);
    margin: 10px;
  }
.time{
    display: flex;
    justify-content: center;
}
.time_set p{
    padding:30px;
    font-size: 16px;
    font-weight: 600;
}
.time_set{
    background-color:rgb(181, 208, 238);
    color: black;
    margin: 20px;
    align-items: center;
    width: 150px;
}